h3 your projects
select.js-select(size=10)
  for project in projects
    option(value=1)= project.get('name') || ''

button.js-addtoggle create new
input.js-input(type='text', placeholder="hide till that button is pressed")

.js-test